:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: #5485b666;
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}

#primary-button {
  position:relative;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3rem;  
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  overflow: hidden;
  width:70%;
  max-width:60%;
  margin: 2rem auto auto auto;
}

#primary-button:focus, #primary-button:active {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

#primary-button:hover{
  box-shadow: var(--btn-color) 2px 2px 22px;
}
/* bubbles */
#primary-button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
