*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body{
  background-color:#eeecda;

}

.top-header{
  padding: 5px 3px 15px 3px;
  height: auto;
  background-color:#6a2c70;
  display:flex;
  text-align:center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 81%, 40% 80%, 0 100%, 0% 60%, 0 0);
}
.top-header span{
  font-size:0.8rem;
  font-weight:300;
  color:white;
}
.top-header img{
  width: 70px;
  height: 50px;
  position:relative;
  border-radius:2px;
}
/*SLIDER CSS */

.my-slider{
  z-index: 1;
  height: 90vh;
  background-color: rgb(219, 224, 203);
  margin-top: -2rem;
  background-image: url("../images/slider_iphone.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.my-slider div h1{
  text-transform:uppercase;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  position:absolute;
  top: 50%;
  left: 10%;
  text-align: justify;
  /* padding: 5px; */
  transform: scaleY(1.5);
  letter-spacing: 0.4rem;
  background-color: rgba(233, 210, 210, 0.431);
  display: block;
  /* width: 200px; */
  color: white;
  background: rgb(59, 2, 6);
  mix-blend-mode: multiply;
}

/* .my-slider div h2{

} */

/* .image-box{
  height: 100vh;
  background-image: url('../images/mobile-image.jpg');
  background-size: cover;
} */




.backdrop {
  background: url("../images/slider_iphone.jpg") center;
}
    
/* Dark foreground layer, with white text, set to "multiply" mix blend mode */
.text {
  color: white;
  background: rgb(59, 2, 6);
  mix-blend-mode: multiply;
  font-family: 'Montserrat', sans-serif;
  font-size: 5.2rem;
}